body {
    display: flex;
    justify-content: space-between;
}


.grid {
    width: 600px;
    height: 600px;
    padding: 0;
    margin: 0;
    border: 1px solid black;

    display: grid;
}


.square {
    border: none;
    margin: 0;
    padding: 0;
    outline: 1px solid lightgray;
}

.square.fill {
    background-color: blue;
}