body {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

.grid {
    width: 640px;
    height: 640px;
    padding: 0;
    margin: 0;
    border: 1px solid black;

    display: grid;
}

.user-input {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.square {
    border: none;
    margin: 0;
    padding: 0;
    outline: 1px solid lightgray;
}

.square.fill {
    background-color: blue;
}